* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        
}

body {

    background-color: black
}

.navbar-ppl {

    background-color: #1D2226;
    font-size: 20px;
    color: #E9E9EA;
    font: bold;


}

.container-products {

    background-color: #1D2226;
    margin-top: 20px;
    font: bold;
    color: #E9E9EA;
    


}


.table {

    font: bold;
    color: #E9E9EA;


} 

.home {

    background-color: #1D2226;
    margin-top: 20px;
    font: bold;
    color: #E9E9EA;
    font-size: 10px;


}

.nosotros {

    background-color: #1D2226;
    margin-top: 20px;
    font: bold;
    color: #E9E9EA;
    font-size: 10px;



} 

.nosotros-sc {

    font-size: 10px;
}